<script src="{{ NoCacheUrl "/web/static/main/js/dashboard-index.js"}}"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/web/static/main/css/dashboard-index.css" }}" />
<div class="col-md-12 leftposition">
 	<a onclick="dashboard.showrow()"><span class="glyphicon glyphicon-th"></span></a>
 	<a onclick="dashboard.showlist()"><span class="glyphicon glyphicon-th-list"></span></a>
</div>
<div id="panel1" class="col-md-12" data-bind="foreach: dashboard.dataPage">
	<div class="col-md-3 top-margin">
		<div class=" box" data-bind="style: { 'background-image': 'url(/web/static/main/images/upload/' + Cover + ')' }, click: dashboard.open(URL)">
			<div class="projecttitle">
				<div data-bind="text: ProjectName"></div>
			</div>
			<div class="subproject" data-bind="text: PlatformName"></div>
		</div>
	</div>
</div>

<div id="panel2" class="col-md-12 top-margin">
	<div class="col-md-12" data-bind="foreach: databaru" >
		<div class="col-md-4">
			<div class="col-md-12 boxpanel2">
				 <span class="projecttitle2" data-bind="text: data[0].TitleProject"></span>  
			</div>
			<div data-bind="foreach: data" no-padding>
			<div class="col-md-6 box2  no-padding box-left" data-bind="style: { 'background-color': ColorSubProject}">
				<span class="projecttitle" data-bind="text: SubProject"></span>
			</div>
			</div>
		</div>	
	</div>
</div>
