<script src="{{ NoCacheUrl "/web/static/main/js/dashboard-index.js"}}"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/web/static/main/css/dashboard-index.css" }}" />

<div class="col-md-12 col-sm-12 col-xs-12 no-padding-side switcher">
	<div class="input-group input-group-lg search-box">
		<span class="input-group-addon">
			<i class="fa fa-search"></i>
		</span>
		<input type="text" class="search" placeholder="Search here ...">
	</div>
	
	<div class="pull-right">
	 	<button class="btn btn-sm btn-gray" data-bind="click: function () { dashboard.mode('box') }, css: { 'active': (dashboard.mode() == 'box') }">
	 		<span class="fa fa-lg fa-th"></span>
		</button>
	 	<button class="btn btn-sm btn-gray" data-bind="click: function () { dashboard.mode('list') }, css: { 'active': (dashboard.mode() == 'list') }">
	 		<span class="fa fa-lg fa-list-ul"></span>
		</button>
	</div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 no-padding-side content-wrapper" data-bind="visible: (dashboard.mode() == 'box'), foreach: dashboard.dataPageFiltered">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box">
			<div class="background" data-bind="style: { 'background-image': 'url(/web/static/main/images/upload/' + Cover + ')' }"></div>
			<div class="background-overlay"></div>
			<div class="project-title">
				<div data-bind="text: ProjectName"></div>
			</div>
			<div class="info">
				<div class="title" data-bind="text: ProjectName"></div>
				<div class="description">
					<div>
						<span data-bind="text: Description"></span>
					</div>
				</div>
			</div>
			<div class="menu" data-bind="foreach: Platforms">
				<a class="col-md-3 col-sm-3 col-xs-3" data-bind="attr: { 'href': URL }, style: { 'border-top-color': Color }, css: { 'nope': (URL == '') }">
					<span data-bind="html: PlatformName.replace(/ /gi, '&nbsp;')"></span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 no-padding-side content-wrapper" data-bind="visible: (dashboard.mode() == 'list'), foreach: dashboard.dataPageFiltered">
	<div class="list">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div data-bind="text: ProjectName"></div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-9" data-bind="foreach: Platforms">
			<div class="col-md-3 col-sm-3 col-xs-3 item">
				<div class="wrapper">
					<div class="background" data-bind="style: { 'background-image': 'url(/web/static/main/images/upload/' + $parent.Cover + ')' }"></div>
					<div class="overlay"></div>
					<div class="platform" data-bind="style: { 'background-color': Color }, text: PlatformName"></div>
				</div>
			</div>
			<div class="clearfix" data-bind="visible: ($index() == ($parent.Platforms.length + 1))"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

