<script src="{{ NoCacheUrl "/web/static/main/js/dashboard-master.js"}}"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/web/static/main/css/dashboard-master.css" }}" />

<div class="filter col-md-12">
    <div class="row">
        <div class="pull-left">
            <h3>Master Data</h3>
        </div>
        <div class="pull-right">
            <button class="btn btn-sm btn-primary" onclick="dashboard.global()">
                <i class="fa fa-refresh"></i> Refresh
            </button>
            <button class="btn btn-sm btn-success" onclick="dashboard.addMaster()">
                <i class="fa fa-plus"></i> Add New
            </button>
            <button class="btn btn-sm btn-primary" onclick="dashboard.editMaster()">
                <i class="fa fa-edit"></i> Edit
            </button>
            <button class="btn btn-sm btn-danger" onclick="dashboard.deleteMaster()">
                <i class="fa fa-trash"></i> Delete
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<div class="grid"></div>

<!-- Modal -->
<div class="modal fade" id="modal-page" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span data-bind="text: dashboard.modalTitle"></span>
                </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" data-bind="with: dashboard.page">
                <form class="form-horizontal" id="myForm" role="form">
                    <input type="hidden"  class="form-control" id="IdMaster" placeholder="Project Name" data-bind="value:Id" />
                    <div class="row form-group">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-sm-12">Project Name</label>
                                <div class="col-sm-12">
                                    <input type="text" required validationMessage="Enter ProjectName" class="form-control" placeholder="Project Name" data-bind="value: ProjectName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Description</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control input-sm" placeholder="Description" required validationMessage="Description" name="Url" data-bind="value: Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 vertical-align">
                           <div class="uploader" onclick="$('#filePhoto').click()">
                                Click Here Or Drag and Drop Images
                                <img src=""/>
                                <input type="file" name="ProjectPhoto"  id="filePhoto" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 no-padding-side bottom-padding">
                            <label class="col-sm-3">Platform Name</label>
                            <label class="col-sm-9">Url</label>   
                        </div>
                        <div class="col-sm-12 no-padding" data-bind="foreach: Platforms">                     
                            <div class="col-sm-3 bottom-padding no-padding">
                                 <span class="col-sm-12 link-label" data-bind="text: PlatformName"></span>
                            </div>
                            <div class="col-sm-9 bottom-padding">
                                 <input type="text" class="form-control" data-bind="value: URL"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="dashboard.saveMaster()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>