.content-wrapper {
    margin-top: 10px;
    font-size: 12px;
}

.switcher {
    position: relative;
    text-align: center;
    margin: 0px 0px 5px;
}
.switcher .pull-right {
    position: absolute;
    right: 15px;
    top: 0px;
}
.switcher .pull-right .btn {
    padding: 11px 12px 9px;
    height: 40px;
    border-radius: 6px;

    border-color: #ececec;
    background-color: #ececec;
    color: #697c8d;
}
.switcher .pull-right .btn.focus, .switcher .btn:focus, .switcher .btn:hover {
    border-color: #c5c5c5;
}
.switcher .pull-right .btn.active {
    padding: 11px 12px 9px;
    height: 40px;
    border-radius: 6px;
    color: white;
    background-color: #485f75;
    border-color: #334352;
}
.switcher .search-box {
    margin: 0px auto;
    width: 330px;
}
.switcher .search-box .input-group-addon {
    padding: 7px 13px;
    height: 40px;
    border-color: #ececec;
    background-color: #ececec;
    color: #687b8c;
}
.switcher .search-box input {
    border: 1px solid #ececec;
    padding: 10px 13px;
    border-radius: 5px;
    background-color: #ffffff;
    height: 40px;
    font-size: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
}

.box {
    border: none;
    color: #ffffff;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 17px;
    border-radius: 5px;
    margin-bottom: 18px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
    height: 182px;
    position: relative;
    overflow: hidden;
    transition: box-shadow .1s ease;
}
.box .notify-color {
    display: inline-block;
    width: 19px;
    border-radius: 4px;
    position: absolute;
    left: 12px;
    border: 1px solid #35495d;
    top: 10px;
}
.box .notify-color + span {
    margin-left: 40px;
}
.box .project-title {
    font-size: 26px;
    display: table;
    height: 114px;
    width: 100%;
    position: relative;
    z-index: 2;
    transition: .2s ease opacity;
}
.box .project-title div {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
}
.box .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}
.box .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    transition: background-color .25s ease;
}
.box .info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    background-color: #24313e;
    border-bottom: 1px solid #202e3c;
    margin-top: 150px;
    opacity: 0;
    transition: margin-top .2s ease, 
                opacity .2s ease, 
                background-color .2s ease;
    z-index: 2;
    color: #cecece;
}
.box .info .title {
    font-size: 24px;
    height: 40px;
    display: block;
    padding-top: 7px;
    padding-left: 15px;
}
.box .info .description {
    position: absolute;
    left: 15px;
    top: 45px;
    right: 15px;
    bottom: 15px;
}
.box .info .description div {
    display: table;
    height: 100%;
    width: 100%;
}
.box .info .description div span {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    width: 100%;
}
.box .menu {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.box .menu a {
    display: inline-block;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    height: 40px;
    text-align: center;
    background-color: #293846;
    border-right: 1px solid #202e3c;
    border-top: 1px solid #202e3c;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.box .menu a.nope {
    pointer-events: none;
}
.box .menu a.nope span {
    opacity: 0.3;
}
.box .menu a:after {
    display: block;
    background: #202d3a;
    border-right: 1px white;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
}
.box .menu a:hover {
    background-color: #202e3c;
    color: #e4e4e4;
}
.box .menu a:nth-child(3) {
    width: 20%;
}
.box .menu a:nth-child(4) {
    width: 30%;
}
.box:hover .info {
    margin-top: 0px;
    opacity: 1;
    background-color: rgba(36, 49, 62, 0.9);
}
.box:hover .project-title {
    opacity: 0;
}

.list {
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 8px;
    margin-right: 0px;
    margin-left: 0px;
}
.list:hover {
    background-color: #f3f3f3;
}
.list:hover .header {
    font-weight: normal;
}
.list:last-child {
    border-bottom: none;
}
.list .header {
    font-size: 26px;
    font-weight: lighter;
    padding-top: 4px;
}
.list .item {
    padding: 0px;
    transition: ease .15 opacity;
}
.list .item .wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
    padding: 10px;
    margin: 0px 5px;
    background-color: #293846;
    position: relative;
    overflow: hidden;
    border-radius: 19px;
    height: 46px;
    cursor: pointer;
}
.list .item .wrapper .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    width: 106px;
}
.list .item .wrapper .overlay,
.list .item .wrapper .overlay-mask {
    background: linear-gradient(to left, rgba(255,0,0,0), #293846);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 106px;
}
.list .item .wrapper .overlay-mask {
    background: #202a33;
    opacity: 0;
}
.list .item .wrapper .overlay-nope {
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.91);
    z-index: 3;
    top: 0;
    bottom: 0;
    opacity: 0;
}
.list .item .wrapper .platform {
    position: absolute;
    left: 10px;
    padding: 4px 11px 5px;
    border-radius: 20px;
    color: white;
    z-index: 2;
    transition: ease .15s left, ease .15s right;
}
.list .item .wrapper .open-label {
    color: white;
    position: absolute;
    top: 14px;
    left: 14px;
    opacity: 0;
    transition: ease .15 opacity;
}
.list .item:last-child:after {
    clear: both;
}
.list .item:hover {
    opacity: 0.95;
}
.list .item:hover .wrapper {
    background-color: #202a33;
}
.list .item:hover .wrapper .overlay-mask {
    opacity: 1;
}
.list .item:hover .wrapper .platform {
    left: auto;
    right: 10px;
}
.list .item:hover .wrapper .open-label {
    opacity: 1;
}
.list .item.nope {
    pointer-events: none;
    opacity: 0.1;
}
.list .item.nope .wrapper .overlay-nope {
    opacity: 1;
}

