.grid .notify-color {
	display: inline-block;
    width: 20px;
    margin-right: 8px;
    border-radius: 3px;
}
.grid .notify-link {
	font-weight: normal;
    font-size: 11px;
}
.grid input[type=checkbox], .grid a[href] {
	cursor: pointer;
}
.grid .fa.fa-check {
    color: #5cb85c;
}

.filter {
	margin-bottom: 10px;
    padding: 0px 20px;
}
.filter h3 {
	margin: 0px;
    margin-top: 3px;
    font-weight: bold;
}
.form-group textarea {
    width: 100%;
    height: 100px;
    resize: none;
}
.form-group label.control-label {
    font-weight: normal;
    padding-right: 0px;
}
.form-group button,
.form-group input,
.form-group select,
.form-group textarea {
    border-radius: 0px;
    border-color: #d8d8d8;
    box-shadow: none;
}
.form-group .k-widget.k-dropdown {
    border: 1px solid #d8d8d8;
}
#myForm {
    padding-right: 15px;
}
#myForm textarea {
    font-size: 14px;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.labelnormal {
    font-weight: normal;
}

.bottom-padding {
    padding-bottom: 5px;
}