.top-margin{
    margin-top: 10px;
}

.top-margin-panel1{
	margin-top: 30px;
}

.filter {
    width: 400px;
    text-align: center;
    border-radius: 20px;
    border-style: none;
    background: #cdcdcd;
    padding: 5px;
}

.box {
    /*width: 23%;*/
     
    border: none;
    padding: 25px;
    /*margin:10px;*/
    text-align: center;
    color: #ffffff;
}

.box2 {
    width: 49%;
    border: none;
    padding: 25px;
    margin-top: 10px;
    /*margin:10px 10px 10px 10px;*/
    text-align: center;
    color: #ffffff;
    float:left;
    font-size: 20px;
}
.box-left{
	margin-right: 1%;
}
.box-right{
	margin-left: 1%;
}
.c1 {
    background-color:#00b0f0;
}

.c2 {
    background-color:#23c6c8;
}

.c3 {
    background-color:#ff9966;
}

.c4 {
    background-color:#666699;
}

.projecttitle {
    font-size: 24px;
}

.projecttitle2{
    font-size: 24px;
}
.subproject {
    font-size: 12px;
}

.boxpanel2 {
    padding:10px;
    background-color: #333f50;
    color: #ffffff;
    text-align: center;
}

.leftposition {
	text-align: right;
    font-size: 20px;
    margin-top: 10px;
}