<!DOCTYPE html>
<html>
<head>
    <!-- Layout initiated by Noval Agung Prayogo.
         Everyone are allowed to use this layout as a reference or even copying it.
         But it would be better if somebody create another one which is better,
         So they will also learn how to make good UI, rather than just copy paste :-) -->

    <!--  manifest="/web/static/main/manifest.appcache" -->
    {{template "_head.html"}}
</head>
<body class="close-sidebar">
    <div class="layout-sidebar">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" class="toggler">
                    <i class="fa fa-lg fa-bars"></i>
                </a>
            </li>
            <li>
                <a href="/web/dashboard/index" title="Master Data">
                    <i class="fa fa-bar-chart"></i>
                    &nbsp;
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/web/dashboard/master" title="Master Data">
                    <i class="fa fa-database"></i>
                    &nbsp;
                    <span>Master Data</span>
                </a>
            </li>
            <li>
                <a href="/web/auth/dologout" title="Logout">
                    <i class="fa fa-sign-out"></i>
                    &nbsp;
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="layout-header">
        <div class="navbar-header">
            <a class="navbar-brand" target="_blank" href="/">
                <img src="/web/static/main/images/site-logo.png">
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" class="app-title">EACIIT SCB Link Homepage</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="display: none;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-lg fa-gear"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="layout-container">
        <div class="layout-content" data-bind="with: viewModel">
            {{.Content}}

            <!-- avoid broken tag -->
            <div class="clearfix"></div>
        </div>
    </div>

    {{template "_loader.html"}}

    <script>
        ko.applyBindings(viewModel);
    </script>
</body>
</html>
