<!DOCTYPE html>
<html manifest="/web/static/main/manifest.appcache">
<head>
    {{template "_head.html"}}
</head>
<body>
    <div class="container-fluid layout-container">
        <div class="layout-content" data-bind="with: viewModel">
            {{.Content}}

            <!-- avoid broken tag -->
            <div class="clearfix"></div>
        </div>
    </div>

    {{template "_top.html"}}
    {{template "_loader.html"}}

    <script>
        ko.applyBindings(viewModel);
    </script>
</body>
</html>
